asset "Brown dwarf star" {
  id: -102;
  vaguely: "Star";
  description: "A late class M star. Class M stars are among the coldest stars in the galaxy at around 3000K. This star is at the lower end of the temperature scale for M stars.";
  icon: "star2";
  feature: Star category 2;
  feature: AssetName "";
}

asset "Red dwarf star" {
  id: -103;
  vaguely: "Star";
  description: "A class M star. Class M stars are among the coldest stars in the galaxy at around 3000K.";
  icon: "star3";
  feature: Star category 3;
  feature: AssetName "";
}

asset "K-type main-sequence star" {
  id: -108;
  vaguely: "Star";
  description: "A class K star. Class K stars are around 4000K.";
  icon: "star8";
  feature: Star category 8;
  feature: AssetName "";
}

asset "G-type main-sequence star" {
  id: -104;
  vaguely: "Star";
  description: "A class G star. This whiteish-colored star is around 6000K.";
  icon: "star4";
  feature: Star category 4;
  feature: AssetName "";
}

asset "F-type main-sequence star" {
  id: -105;
  vaguely: "Star";
  description: "A class F star. Class F stars are around 7000K.";
  icon: "star5";
  feature: Star category 5;
  feature: AssetName "";
}

asset "A-type main-sequence star" {
  id: -109;
  vaguely: "Star";
  description: "A class A star. Class A stars can reach temperatures of up to 10000K.";
  icon: "star9";
  feature: Star category 9;
  feature: AssetName "";
}

asset "B-type main-sequence star" {
  id: -106;
  vaguely: "Star";
  description: "A class B star. Class B stars are extremely hot, around 20000K.";
  icon: "star6";
  feature: Star category 6;
  feature: AssetName "";
}

asset "O-type main-sequence star" {
  id: -107;
  vaguely: "Star";
  description: "A class O star. Class O stars are the brightest and hottest stars in the galaxy, over 30000K.";
  icon: "star7";
  feature: Star category 7;
  feature: AssetName "";
}

asset "Red hypergiant star" {
  id: -110;
  vaguely: "Star";
  description: "A very large, very bright star.";
  icon: "star10";
  feature: Star category 10;
  feature: AssetName "";
}

asset "Space" {
  id: -1;
  vaguely: "Space";
  description: "A region of outer space.";
  icon: "outer-space";
  feature: SolarSystem group threshold 1LY, gravitational influence 5e-15m/kg;
}

asset "Orbit" {
  id: -2;
  vaguely: "Orbit";
  description: "Objects in space are attracted to each other in a way that makes them spin around each other.";
  icon: "orbit";
  feature: Orbit;
}

asset "Planetary body" {
  id: -3;
  vaguely: "Really big rock";
  description: "A cold gravitionally-bound astronomical object. (Cold when compared to a star, at least.)";
  icon: "planet-thin-continents";
  feature: PlanetaryBody;
  feature: Surface cell size 100m, region size 5 to 99;
}

asset "Geological region" {
  id: -4;
  vaguely: "Region";
  description: "An area of a planetary body.";
  icon: "region";
  feature: Region at depth 1, 10 materials;
  feature: PeopleBus;
  feature: KnowledgeBus;
  feature: BuilderBus;
  feature: Grid 1*1, 100m, land;
}

asset "Crater" {
  id: -5;
  vaguely: "Hole";
  description: "A hole containing the remnants of an area where something else crashed.";
  icon: "crater";
  feature: Proxy;
  feature: RubblePile;
}

asset "Rubble pile" {
  id: -6;
  vaguely: "Rubble pile";
  description: "The remains of some form of destruction.";
  icon: "rubble";
  feature: Population max 0, hidden;
  feature: RubblePile;
  feature: AssetPile;
}

research root {
  unlocks asset "Brown dwarf star";
  unlocks asset "Red dwarf star";
  unlocks asset "K-type main-sequence star";
  unlocks asset "G-type main-sequence star";
  unlocks asset "F-type main-sequence star";
  unlocks asset "A-type main-sequence star";
  unlocks asset "B-type main-sequence star";
  unlocks asset "O-type main-sequence star";
  unlocks asset "Red hypergiant star";
  unlocks asset "Space";
  unlocks asset "Orbit";
  unlocks asset "Planetary body";
  unlocks asset "Geological region";
  unlocks asset "Crater";
  unlocks asset "Rubble pile";
}

asset "Message" {
  id: -7;
  vaguely: "Some text.";
  description: "A message.";
  icon: "message";
  feature: Message;
  feature: Knowledge;
}

asset "Colony ship" {
  id: -8;
  vaguely: "Big round object with round doors and circular windows.";
  description: "A ship that people used to escape their dying star.";
  icon: "colony-ship";
  build: spacedock;
  feature: DynastyOriginalColonyShip;
  feature: PeopleBus;
  feature: KnowledgeBus;
  feature: BuilderBus;
  feature: OnOff;
  feature: Structure size 500m, materials (
    "Ship": "Rare Material #1" * 1000 units,
  ), minimum 1000 units;
  feature: Population max 2000;
  feature: SpaceSensor 10 to orbit, up 3 down 2, min size 2e5m, light;
  feature: GridSensor light;
  feature: InternalSensor light;
  feature: MessageBoard spawns "Message";
  feature: Sample size 2m;
  feature: Research;
  feature: Knowledge research id -1;
}

research package {
  id: -1;
  unlocks asset "Colony ship";
  unlocks asset "Message";
}



// TEST RESEARCH

storybeat election;
research {
  id: 1;
  requires nothing;
  takes 24 hours;
  story: election [
    Congratulations

    From: Head of Campaign
   
    Congratulations! The votes are in, and you have won the election.
  ];
}

storybeat science;
research {
  id: 2;
  requires storybeat election;
  takes 1 week;
  story: science [
    Congratulations

    From: Director of Research

    I hear congratulations are in order! Since we've now been formally
    elected, we can now start putting our research plan into place, as
    we discussed during the campaign. For now, I've got our
    researchers looking into politics, as they were doing in the
    campaign itself. But let me know if you think we should look at
    something else.

    Some of our researchers have asked me to tell you that they think
    we should study philosophy, which is to say, the question of life,
    the universe, and everything. There's another group, they call
    themselves the "pragmatics", who think we should be working out
    how to expand as fast as possible, and who thus argue we should be
    looking more into the topic of city development.
    
    I recommend that you visit our offices in the city at your
    convenience and point us in the right direction. As always,
    researchers think about all kinds of things, but a little
    motivation can really help focus the mind.
  ];
}

topic "Politics" requires storybeat election;

material "Brick" {
  id: 100001;
  vaguely: "Square rock";
  description: "A piece of rock, fashioned into a stackable component, useful for creating buildings.";
  icon: "brick";
  metrics: component, size 10cm, mass 1kg;
}


// ------------------------------------------------------------------------
// BRANCH FOR BASICS OF PHYSICS

topic "Philosophy" requires storybeat science;

facility church-support;

storybeat theophany;
research {
  id: 1000;
  takes 1 week;
  requires storybeat science;
  with topic "Philosophy": speed x2, weight +2000%;
  story: theophany [
    Where we come from

    From: Director of Research

    One of our researchers has figured out where life began! I include
    his report below.

    INTRODUCTION

    The great question of life, the universe, and everything has
    puzzled us ever since we came up with it. This is the answer: we
    were made and placed here by a most powerful being.

    PARALLELS WITH IMAGINATION
    
    It's like how when a child plays with his toys, he can put some
    toy people in a toy city.

    PARALLELS WITH SOCIETY
    
    It's like how when a criminal is put in prison, we turn him into a
    prisoner.

    CONCLUSION
    
    It's obvious, really. The only possible answer to the question of
    life, the universe, and everything is that a most powerful being
    put us here.
  ];
}

asset "Church" {
  id: 1;
  vaguely: "Tall building";
  description: "This tall building is intended for communicating with the purported creator being.";
  icon: "church";
  build: land;
  feature: Structure size 100m, materials (
    "Frame": "Iron" * 100t,
    "Facing": "Silicon" * 50t,
    "Decorations": "Iron" * 10t,
  ), minimum 140 units;
  feature: Research provides church-support;
}

storybeat religion;
research {
  id: 1001;
  requires storybeat theophany;
  takes 1 week;
  with topic "Philosophy": speed x2, weight +2000%;
  unlocks asset "Church";
  story: religion [
    Communicating with our creator
    
    From: Bishop of Research, Powerful Being subdivision
    
    Since we were put here by a powerful being, we figured it would be
    a good idea to communicate with that being. Upon further thought,
    the obvious way to do that is to build a big building for that
    purpose, and encourage people to go there to talk to him. Let us
    know where you want us to build these buildings.
  ];
}

topic "Religion" requires storybeat religion;

storybeat organized-religion;
research {
  id: 1002;
  requires storybeat religion;
  takes 1 week;
  with topic "Religion": speed x2, weight +2000%;
  with no situation church-support: speed x0.02;
  story: organized-religion [
    Reorganisation

    From: Arch Bishop
    
    FYI, we've moved the Powerful Being subdivision into its own
    organisation, which I'll be leading. To help people understand the
    relationship between our organisation and churches, we're going to
    call this organisation The Church.
  ];
}

storybeat religion-irritation;
research {
  id: 1003;
  requires storybeat religion;
  takes 1 month;
  with topic "Philosophy": speed x1.25, weight +100%;
  with topic "Religion": speed x0.75, weight -10%;
  with storybeat organized-religion: speed x1.1, weight -75%;
  story: religion-irritation [
    "Powerful Being" nonsense
    
    From: Director of Research
    
    Hey,
    
    I'm starting to get really irritated by the former researcher who
    now styles himself a Bishop. He seems to be leaping to conclusions
    in a way I'm not entirely comfortable with. Let me know if I
    should put the research team on to studying this.
  ];
}

storybeat religion-bad;

topic "The Impact of Religion on Society" requires storybeat religion-irritation, no storybeat religion-bad;

research {
  id: 1004;
  takes 1 month;
  requires storybeat religion, storybeat religion-irritation;
  with topic "Religion": speed x1.1, weight -50%;
  with topic "The Impact of Religion on Society": speed x1.25, weight +1000%;
  with situation church-support: speed x0.1, weight -25%;
  with no situation church-support: speed x1.1, weight +100%;
  story: religion-bad [
    The Impact of Religion on Society

    From: Director of Research
    
    We've concluded our research on The Impact of Religion on Society.
    I include his report below.
    
    INTRODUCTION
    
    The answer to the great question of life, the universe, and
    everything, namely that there is a supreme being, may have
    unintentional results.
    
    PARALLELS WITH GAMES
    
    If players in a game start inventing new rules that were not
    properly tested, they often end up unbalancing the game.
    
    PARALLELS WITH ANIMALS
    
    When you introduce a cat into a cage with pigeons, the pigeons
    tend to die.
    
    CONCLUSION
    
    We should probably not encourage this powerful being concept.
  ];
}


// ------------------------------------------------------------------------
// RANDOM STUFF FOR DEV VERSION

topic "City Development" requires storybeat science;

asset "City" {
  id: 2;
  vaguely: "Settlement";
  description: "A collection of buildings and infrastructure for people to live at.";
  icon: "city";
  build: land;
  feature: Grid 6*6, 100m, land;
  feature: KnowledgeBus;
}

storybeat city-planning;
research {
  id: 2000;
  takes 1 week;
  with topic "City Development": speed x1.25, weight +5000%;
  requires storybeat election;
  unlocks asset "City";
  story: city-planning [
    Breakthrough in City Planning

    From: Research

    I think we've worked out a good way to plan how to build big
    settlements, so we can start building more cities now.
    
    Each city will give us enough infrastructure to do more research.
  ];
}

asset "Big mining hole" {
  id: 3;
  vaguely: "Large hole in the ground";
  description: "This is a hole used for mining dirt from the ground.";
  icon: "mining-big-hole";
  build: land;
  feature: Size 100m;
  feature: Mining max throughput 10kg/s;
  feature: OrePile max mass 30000kg;
  feature: OnOff;
}

asset "Big ore pile" {
  id: 4;
  vaguely: "Big pile of dirt";
  description: "This is where we put resources we have mined from the ground.";
  icon: "empty-land";
  build: land;
  feature: Size 100m;
  feature: OrePile max mass 3000000kg;
}

topic "Mining" requires storybeat science;

storybeat mining-big;
research {
  id: 3000;
  takes 3 weeks;
  requires storybeat science;
  with topic "Mining": speed x10, weight +500%;
  unlocks asset "Big mining hole";
  story: mining-big [
    Mining
    
    From: Director of Research

    We've discovered how to extract dirt from the ground by digging holes.
  ];
}

storybeat piles;
research {
  id: 3001;
  takes 3 weeks;
  requires storybeat mining-big;
  with topic "Mining": speed x10, weight +500%;
  unlocks asset "Big ore pile";
  story: piles [
    Storage for mining
    
    From: Director of Research

    We've figured out we can put the stuff we dig from the ground into separate piles around the region.
  ];
}

asset "Mining hole" {
  id: 5000;
  vaguely: "Hole in the ground";
  description: "This is a hole used to dig in the ground and get dirt and rocks and stuff.";
  icon: "mining-hole";
  build: land;
  feature: Size 50m;
  feature: Mining max throughput 1kg/s;
  feature: OrePile max mass 30000kg;
  feature: OnOff;
}

storybeat mining;
research {
  id: 5001;
  takes 1 hour;
  weight 10000;
  requires nothing;
  unlocks asset "Mining hole";
  story: mining [
    Don't mind the holes

    From: Parent of Charlie

    Hey my kid Charlie has started digging a hole I hope that's ok.
    He said he found stuff in the ground. Might be worth looking into.
  ];
}

asset "Mining hole with more help" {
  id: 5001;
  vaguely: "Hole in the ground";
  description: "This is a hole used to dig in the ground and get dirt and rocks and stuff, with lots of people helping.";
  icon: "mining-hole";
  build: land;
  feature: Size 100m;
  feature: Mining max throughput 10kg/s;
  feature: OrePile max mass 300000kg;
  feature: OnOff;
}

storybeat giant-mining;
research {
  id: 5002;
  takes 2 hours;
  weight 1000;
  requires storybeat mining;
  unlocks asset "Mining hole with more help";
  story: giant-mining [
    Apologies please don't evict us

    From: Parent of Charlie

    I'm sorry about this but Charlie got some of his friends and now
    they've figured out how to build even larger holes, I'm really sorry
    please don't evict us I'll try to stop him, please!
  ];
}

asset "Archeological hole" {
  id: 5;
  vaguely: "Hole in the ground";
  description: "This is a hole used to dig in the ground for artifacts.";
  icon: "mining-hole";
  build: land;
  feature: Size 100m;
  feature: Mining max throughput 1kg/s;
  feature: Research;
  feature: OnOff;
}

storybeat archeology;
research {
  id: 3002;
  requires storybeat science;
  takes 1 week;
  with topic "Mining": speed x1.1, weight +2000%;
  unlocks asset "Archeological hole";
  story: archeology [
    Stuff in holes
    
    From: Director of Research
    
    We've found stuff in holes that seem interesting. You can now make archeological holes that will study those things.
  ];
}

asset "Iron team table" {
  id: 6;
  vaguely: "Table";
  description: "This is a table used by a small team of people to go through unsorted ores and pluck out bits of iron.";
  icon: "table";
  build: land;
  feature: Size 10m;
  feature: Refining for "Iron", max throughput 1000kg/h;
  feature: MaterialPile for "Iron", capacity 1000kg;
  feature: OnOff;
}

asset "Iron pile" {
  id: 7;
  vaguely: "Pile";
  description: "This is a pile used for storing iron.";
  icon: "empty-land";
  build: land;
  feature: Size 500m;
  feature: MaterialPile for "Iron", capacity 100000kg;
}

storybeat iron-team;
research {
  id: 5003;
  takes 2 hours;
  weight 1000;
  requires storybeat mining;
  unlocks asset "Iron team table";
  unlocks asset "Iron pile";
  unlocks material "Iron";
  story: iron-team [
    Iron team

    From: Director of Research

    So we were looking at the stuff we've been digging out of the
    ground and we're starting to reliably recognize this one material
    we've decided to call Iron. It's sort of lumpy and when you
    scratch it it's shiny, but the most interesting thing is it's very
    hard.

    I've formed a team that I've called the Iron Team to see if we can
    extract some of this Iron stuff out of our piles of ore that we've
    been making. We'll use one of our spare tables and they can go
    through and filter out the Iron they find.

    We can put the iron we find into a big pile.
  ];
}

asset "Drilling Hole" {
  id: 8;
  vaguely: "Hole";
  description: "This is a drilling hole used for obtaining large quantities of ore.";
  icon: "drill";
  build: land;
  feature: Size 500m;
  feature: Mining max throughput 1000kg/h;
  feature: OnOff;
}

storybeat drill;
research {
  id: 5004;
  takes 2 hours;
  weight 2000;
  requires storybeat mining;
  unlocks asset "Drilling Hole";
  story: drill [
    Drill!

    From: Director of Research

    So we were looking at this hole idea that Charlie came up with and we
    realized that a much better way to do this would be to use some of the
    many drills we have in storage to just dig right out of the ground.

    We'll need some piles to store the ore though, because if we put the
    stuff near our drill, it'll just be shaken by the drill and will fall
    back into the hole.
  ];
}

asset "Builder rally point" {
  id: 11;
  vaguely: "Meeting point";
  description: "This is the designated point for some builders to get together when planning building projects.";
  icon: "rally-point";
  build: land;
  feature: Builder capacity 1, build 100 hp/h;
  feature: Size 10m;
}

asset "Silicon Table" {
  id: 9;
  vaguely: "Table";
  description: "This is a table used for sorting out silicon.";
  icon: "table";
  build: land;
  feature: Refining for "Silicon", max throughput 1000kg/h;
  feature: MaterialPile for "Silicon", capacity 1000kg;
  feature: Structure size 10m, materials (
    "Table": "Iron" * 2t,
    "Covering": "Silicon" * 1t,
  ), minimum 1 unit;
  feature: Builder capacity 1, build 100 hp/h;
  feature: OnOff;
}

asset "Silicon pile" {
  id: 10;
  vaguely: "Pile";
  description: "This is a pile used for storing silicon.";
  icon: "empty-land";
  build: land;
  feature: Size 500m;
  feature: MaterialPile for "Silicon", capacity 100000kg;
}

storybeat silicon-table;
research {
  id: 5005;
  takes 2 hours;
  weight 1000;
  requires storybeat iron-team;
  unlocks asset "Silicon Table";
  unlocks asset "Silicon pile";
  unlocks asset "Builder rally point";
  unlocks material "Silicon";
  story: silicon-table [
    Silicon

    From: Iron team

    While looking for iron, we've noticed another resource, which 
    we're calling "Silicon", that's also pretty recognizable. We need
    tables made of iron to sort it out, though, since it's small and 
    falls through cracks easily.
  ];
}
